
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.width {
  width: 32%;
}
.dhamilo{
  background-color: rgba(0, 0, 0, 0.5);
}
.backgroundImg1{
  background-image: url('../src/Pages/Images/background.png');
}
.backgroundImg2{
  background-image: url('../src/Pages/Images/background\ 2.png');
}
.bg3{
  background-image: url('../src/Pages/Images/bg3.png');
}

